In [19]:
import pandas as pd

In [20]:
df_population_data = pd.read_csv('data.csv',encoding='shift-jis')

In [21]:
df_population_data

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
1          2   青森県  大正    9.0  1920.0   756454   381293   375161
2          3   岩手県  大正    9.0  1920.0   845540   421069   424471
3          4   宮城県  大正    9.0  1920.0   961768   485309   476459
4          5   秋田県  大正    9.0  1920.0   898537   453682   444855
..       ...   ...  ..    ...     ...      ...      ...      ...
934       43   熊本県  平成   27.0  2015.0  1786170   841046   945124
935       44   大分県  平成   27.0  2015.0  1166338   551932   614406
936       45   宮崎県  平成   27.0  2015.0  1104069   519242   584827
937       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
938       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [22]:
type(df_population_data)

pandas.core.frame.DataFrame

In [23]:
pd.set_option('display.max_rows',50)

In [24]:
df_population_data

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
1          2   青森県  大正    9.0  1920.0   756454   381293   375161
2          3   岩手県  大正    9.0  1920.0   845540   421069   424471
3          4   宮城県  大正    9.0  1920.0   961768   485309   476459
4          5   秋田県  大正    9.0  1920.0   898537   453682   444855
..       ...   ...  ..    ...     ...      ...      ...      ...
934       43   熊本県  平成   27.0  2015.0  1786170   841046   945124
935       44   大分県  平成   27.0  2015.0  1166338   551932   614406
936       45   宮崎県  平成   27.0  2015.0  1104069   519242   584827
937       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
938       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [25]:
pd.reset_option('display.max_columns')

In [26]:
pd.reset_option('display.max_rows')

In [27]:
df_population_data

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
1          2   青森県  大正    9.0  1920.0   756454   381293   375161
2          3   岩手県  大正    9.0  1920.0   845540   421069   424471
3          4   宮城県  大正    9.0  1920.0   961768   485309   476459
4          5   秋田県  大正    9.0  1920.0   898537   453682   444855
..       ...   ...  ..    ...     ...      ...      ...      ...
934       43   熊本県  平成   27.0  2015.0  1786170   841046   945124
935       44   大分県  平成   27.0  2015.0  1166338   551932   614406
936       45   宮崎県  平成   27.0  2015.0  1104069   519242   584827
937       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
938       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [28]:
df_population_data.head()

   都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0        1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
1        2   青森県  大正    9.0  1920.0   756454   381293   375161
2        3   岩手県  大正    9.0  1920.0   845540   421069   424471
3        4   宮城県  大正    9.0  1920.0   961768   485309   476459
4        5   秋田県  大正    9.0  1920.0   898537   453682   444855

In [29]:
df_population_data.tail()

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）   人口（男）   人口（女）
934       43   熊本県  平成   27.0  2015.0  1786170  841046  945124
935       44   大分県  平成   27.0  2015.0  1166338  551932  614406
936       45   宮崎県  平成   27.0  2015.0  1104069  519242  584827
937       46  鹿児島県  平成   27.0  2015.0  1648177  773061  875116
938       47   沖縄県  平成   27.0  2015.0  1433566  704619  728947

In [30]:
df_population_data.sample(10)

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
520        5   秋田県  昭和   50.0  1975.0  1232481   590492   641989
241        7   福島県  昭和   20.0  1945.0  1957356   906765  1050591
310       30  和歌山県  昭和   25.0  1950.0   982113   475324   506789
158       18   福井県  昭和   10.0  1935.0   646659   316424   330235
28        29   奈良県  大正    9.0  1920.0   564607   280383   284224
226       39   高知県  昭和   15.0  1940.0   709286   348907   360379
391       17   石川県  昭和   35.0  1960.0   973418   464889   508529
177       37   香川県  昭和   10.0  1935.0   748656   373522   375134
794       44   大分県  平成   12.0  2000.0  1221140   575985   645155
47         1   北海道  大正   14.0  1925.0  2498679  1305473  1193206

In [31]:
df_population_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   都道府県コード  939 non-null    int64
 1   都道府県名    939 non-null    object
 2   元号       939 non-null    object
 3   和暦（年）    939 non-null    float64
 4   西暦（年）    939 non-null    float64
 5   人口（総数）   939 non-null    int64
 6   人口（男）    939 non-null    int64
 7   人口（女）    939 non-null    int64
dtypes: float64(2), int64(4), object(2)
memory usage: 58.8+ KB

In [32]:
df_population_data.describe()

,都道府県コード,和暦（年）,西暦（年）,人口（総数）,人口（男）,人口（女）
count,939.000000,939.000000,939.000000,9.390000e+02,9.390000e+02,9.390000e+02
mean,23.975506,25.005325,1967.523962,2.104324e+06,1.033620e+06,1.070703e+06
std,13.558310,16.937643,28.852766,1.970612e+06,9.890101e+05,9.826168e+05
min,1.000000,2.000000,1920.000000,4.546750e+05,2.228020e+05,2.318730e+05
25%,12.000000,11.000000,1942.500000,1.000186e+06,4.846355e+05,5.160885e+05
50%,24.000000,22.000000,1970.000000,1.461197e+06,7.026970e+05,7.583210e+05
75%,36.000000,37.500000,1992.500000,2.144998e+06,1.044104e+06,1.097804e+06
max,47.000000,60.000000,2015.000000,1.351527e+07,6.666690e+06,6.848581e+06

In [33]:
df_population_data.describe().round(0)

       都道府県コード  和暦（年）   西暦（年）      人口（総数）      人口（男）      人口（女）
count    939.0  939.0   939.0       939.0      939.0      939.0
mean      24.0   25.0  1968.0   2104324.0  1033620.0  1070703.0
std       14.0   17.0    29.0   1970612.0   989010.0   982617.0
min        1.0    2.0  1920.0    454675.0   222802.0   231873.0
25%       12.0   11.0  1942.0   1000186.0   484636.0   516088.0
50%       24.0   22.0  1970.0   1461197.0   702697.0   758321.0
75%       36.0   38.0  1992.0   2144998.0  1044104.0  1097804.0
max       47.0   60.0  2015.0  13515271.0  6666690.0  6848581.0

In [34]:
df_population_data.groupby(by='都道府県名').mean()[['人口（総数）','人口（男）','人口（女）']].round(0)

TypeError: Could not convert 大正大正昭和昭和昭和昭和昭和昭和昭和昭和昭和昭和昭和昭和平成平成平成平成平成平成 to numeric